<ul id="menu">

<li> <a href="/web"> Web development </a> </li>
<li> <a href="/web"> Web development </a> </li>
<li> <a href="/web"> Web development </a> </li>
<li> <a href="/web"> Web development </a> </li>
<li> <a href="/web"> Web development </a> </li>
<li> <a href="/web"> Web development </a> </li>
<li> <a href="/web"> Web development </a> </li>
<li> <a href="/web"> Web development </a> </li>
<li> <a href="/web"> Web development </a> </li>
<li> <a href="/web"> Web development </a> </li>


</ul>